* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kode Mono', sans-serif;
}

body {
    height: 100%;
    background: linear-gradient(to right, #4F63AA 50%, #192856 50%) fixed;
}

.container {
    background-color: #fff;
    width: 400px;
    padding: 50px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 15px 30px 35px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    perspective: 300px;
}

.stats {
    text-align: right;
    color: #192856;
    font-weight: 500;
    line-height: 25px;
}

.coin {
    height: 150px;
    width: 150px;
    position: relative;
    margin: 50px auto;
    transform-style: preserve-3d;
}

.coin img {
    width: 145px;
}

.yazi {
    transform: rotateX(180deg);
}

.buttons {
    display: flex;
    justify-content: space-between;
}

button {
    width: 120px;
    padding: 10px 0;
    border: 3px solid #192856;
    cursor: pointer;
    border-radius: 5px;
}

.tura,
.yazi {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

#flip-button {
    background-color: #192856;
    color: #fff;
}

#flip-button:disabled {
    background-color: #e1e0ee;
    color: #101020;
    border-radius: #e1e0ee;
    opacity: 0.6;
}

#reset-button {
    background-color: #fff;
    color: #192856;
}

@keyframes spin-yazi{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}
@keyframes spin-tura{
    0%{
        transform: rotateX(0);
    }
    100%{
        transform: rotateX(1980deg);
    }
}